<div class="legends">
    <div class="legends__item">
        <h3>Máscara</h3>
        <div class="legends__item__images">
            <div>
                <img src="/assets/imgs/png/required-mask.png" alt="Imagem de uma mascara verde">
                <span>Obrigatório</span>
            </div>
            <div>
                <img src="/assets/imgs/png/recommended-mask.png" alt="Imagem de uma mascara cinza">
                <span>Recomendado</span>
            </div>
        </div>
    </div>
    <div class="legends__item">
        <h3>Toalha</h3>
        <div class="legends__item__images">
            <div>
                <img src="/assets/imgs/png/required-towel.png" alt="">
                <span>Obrigatório</span>
            </div>
            <div>
                <img src="/assets/imgs/png/recommended-towel.png" alt="">
                <span>Recomendado</span>
            </div>
        </div>
    </div>
    <div class="legends__item">
        <h3>Bebedouro</h3>
        <div class="legends__item__images">
            <div>
                <img src="/assets/imgs/png/partial-fountain.png" alt="">
                <span>Parcial</span>
            </div>
            <div>
                <img src="/assets/imgs/png/not_allowed-fountain.png" alt="">
                <span>Proibido</span>
            </div>
        </div>
    </div>
    <div class="legends__item">
        <h3>Vestiários</h3>
        <div class="legends__item__images">
            <div>
                <img src="/assets/imgs/png/allowed-lockerroom.png" alt="">
                <span>Liberado</span>
            </div>
            <div>
                <img src="/assets/imgs/png/partial-lockerroom.png" alt="">
                <span>parcial</span>
            </div>
            <div>
                <img src="/assets/imgs/png/closed-lockerroom.png" alt="">
                <span>Fechado</span>
            </div>
        </div>
    </div>

</div>