<form action="" class="form">
    <div class="form__icon">
        <img src="assets/imgs/icon-hour.png" alt="">
        <span>Horário</span>
    </div>
    <h3>Qual período quer treinar?</h3>
    <div class="form__filter">
        <div class="form__filter__input">
            <div class="form__filter__input__name">
                <input type="radio" name="morning" value="morning">
                <label for="morning">Manhã</label>
            </div>
            <span>06:00 às 12:00</span>
        </div>
        <div class="form__filter__input">
            <div class="form__filter__input__name">
                <input type="radio" name="afternoon" value="afternoon">
                <label for="aftenoon">Tarde</label>
            </div>
            <span>12:01 às 18:00</span>
        </div>
        <div class="form__filter__input">
            <div class="form__filter__input__name">
                <input type="radio" name="night" value="night">
                <label for="night">Noite</label>
            </div>
            <span>18:01 às 23:00</span>
        </div>
        <div class="form__filter__check">
            <div class="form__filter__check__name">
                <input type="checkbox" name="show-closed">
                <label for="show-closed">Exibir unidades fechadas</label>
            </div>
            <p>Resultados encontrados: <Span>0</Span></p>
        </div>
    </div>
    <div class="form__buttons">
        <button class="btn primary">ENCONTRAR UNIDADE</button>
        <button class="btn secondary">LIMPAR</button>
    </div>

</form>